.headerDiv {
    display : flex;
    margin: 10px 100px;
}

.filterBtn {
    margin: 0 100px 0 10px !important;
}

.searchField {
    display : flex;
    width: 500px;
}

.searchBtnDiv {
    display: flex;
}

.addBtnDiv {
    display: flex;
    position: absolute;
    right: 100px;
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.tableBody {
    max-width: 80%;
    position: absolute;
    margin: 50px 0 0 0;
}

.tableDataRow {
    height: 10px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}